<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="aday">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>config</directory>
            <directory>lib</directory>
            <directory>api</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout" showOnlySummary="false"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_PATH" value=":memory:"/>
        <env name="APP_SECRET" value="test-secret-key-for-phpunit-0123456789abcdef"/>
        <env name="SMTP_FROM" value="test@example.com"/>
        <env name="ADMIN_EMAIL" value="admin@example.com"/>
    </php>
</phpunit>
